#gameBox{
    width: 500px;
    padding:  10px;
    height: 180px;
    background-color: rgb(13, 13, 14);
    border-radius: 15px;
    text-align: center;
    margin:auto;
    margin-top: 250px;
}

#gameDis{
    padding: 10px;
    width: 480px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(166, 255, 0);
    border-radius: 15px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.gameBtn{
    margin-top: 15px;
    width: 110px;
    font-weight: bold;
    color: #fffcfc;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgb(248, 6, 6);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}
#player{
    color:blue ;
}
#computer{
    color:rgb(255, 0, 0) ;
}
#result{
    color:rgb(0, 71, 80) ;
}